form{
	display:grid;
	text-align: center;
	margin-left: 350px;
	width: 50%;
	margin-top: 10px;
	
}
input[type="submit"]{
	background-color: #0e49d6;
	color: white;
	width: 30%;
	margin-left: 275px;
	margin-top: 30px;
}
label{
	font-size: 15px;
	font-family: Arial;
}
input{
	border-color:#0080ff;
	border-radius:8px;
}
li{
	list-style:none;
}